<%
    layout("/WEB-INF/views/common/navbar.html", {'title':'投诉查询'}){
%>

<div class="row">
    <div class="col-sm-12">
        <div class="panel-body" id="panel_search" style="margin-top:20px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#panel_search"
                       href="#collapse" style="color:black">
                        <span class="glyphicon glyphicon-chevron-down"/>查询条件
                    </a>
                </div>
                <div id="collapse" class="panel-collapse collapse">
                <div class="panel-body" >
                    <form id="formSearch" class="form-horizontal col-sm-12" role="form">
                        <div class="form-group" style="margin-top:15px">
                            <div class="col-sm-2">
                                <label class="control-label" for="orderNo">订单号</label>
                                <input type="text" class="form-control" id="orderNo">
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label" for="type">投诉类型</label>
                                <select class="form-control" id="type">
                                    <option value="">全部</option>
                                    <option value="1">货主投诉</option>
                                    <option value="2">车主投诉</option>
                                </select>
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label" for="sex">状态</label>
                                <select class="form-control" id="sex">
                                    <option value="">全部</option>
                                    <option value="1">待处理</option>
                                    <option value="2">已处理</option>
                                </select>
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label" for="createStartTime">创建时间</label>
                                <div class="input-group">
                                    <span class="input-group-addon">从</span>
                                    <input id="createStartTime" class="form-control dateTime" type="text" name="dateTimePicker"/>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label" for="createEndTime">&nbsp;</label>
                                <div class="input-append date" >
                                    <div class="input-group">
                                        <span class="input-group-addon">到</span>
                                        <input id="createEndTime" class="form-control dateTime" type="text" name="dateTimePicker"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:15px">
                            <div class="col-sm-2">
                                <label class="control-label" for="btn_search">&nbsp;</label>
                                <button type="button" id="btn_search" class="btn btn-primary btn-block">查询</button>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label" for="btn_reset">&nbsp;</label>
                                <button type="button" id="btn_reset" class="btn btn-primary btn-block">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
        <div class="btn-group" id="toolbar">
            <% if(shiro.hasPermission("complaint:handle")){ %>
            <button id="btn_handle" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-plus"></span> 处理
            </button>
            <% } %>
        </div>
        <table id="complaintTable"></table>
    </div>
</div>

<script src="/static/js/complaint/complaint.js"></script>

<%
    }
%>