<%
    layout("/WEB-INF/views/common/container.html"){
%>

<div class="row clearfix" id="topbar">
    <div class="col-md-12 column">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">导航</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" id="notificationLink">查看通知信息</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">系统管理<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" id="userManageLink">用户管理</a>
                            </li>
                            <li>
                                <a href="#" id="roleLink">角色管理</a>
                            </li>
                            <li>
                                <a href="#" id="notificationManageLink">通知管理</a>
                            </li>
                            <li>
                                <a href="#" id="logLink">日志管理</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">平台用户管理<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" id="consignorLink">货主用户管理</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#" id="driverLink">车主用户管理</a>
                            </li>
                            <li>
                                <a href="#" id="driverLocLink">车主位置查询</a>
                            </li>
                            <li class="divider">

                            </li>
                            <li>
                                <a href="#" id="registerChartLink">用户注册图表</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">业务管理<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" id="orderLink">订单查询</a>
                            </li>
                            <li>
                                <a href="#" id="complaintLink">投诉查询</a>
                            </li>
                            <li>
                                <a href="#" id="chartLink">报表查询</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#" id="activityLink">活动管理</a>
                            </li>
                            <li>
                                <a href="#" id="couponLink">优惠券管理</a>
                            </li>
                            <li>
                                <a href="#" id="goodsLink">积分物品管理</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" />
                    </div> <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <%
                                var currentUsername = shiro.getCurrentUsername();
                            %>
                            ${currentUsername}
                            <em class="glyphicon glyphicon-align-justify"></em>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" id="logoutLink">登出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<h3 class="text-center">${title}</h3>
${layoutContent}

<%
}
%>
