<%
    layout("/WEB-INF/views/common/container.html",{"title":"添加用户"}){
%>

<div class="row">
    <div class="col-sm-12">
        <form role="form" id="userInfoForm" action="">
            <input type="hidden" id="id">
            <input type="hidden" id="sexValue" value="1">
           
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="password2">确认密码</label>
                        <input type="password" class="form-control" id="password2" name="password2">
                    </div>
                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="sex">性别</label>
                        <select class="form-control" id="sex">
                            <option value="1">男</option>
                            <option value="2">女</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="age">年龄</label>
                        <input type="text" class="form-control" id="age" name="age">
                    </div>
                    <div class="form-group">
                        <label for="telephone">手机号</label>
                        <input type="text" class="form-control" id="telephone" name="telephone">
                    </div>
                    <div class="form-group">
                        <label for="type">类型</label>
                        <select class="form-control" id="type">
                            <option value="0" selected="selected">普通用户</option>
                            <option value="1">超级管理员</option>
                        </select>
                        <input type="hidden" id="typeValue" value="0">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:20px">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <button type="button" id="btn_add_submit" class="btn btn-success btn-block">提交</button>
                </div>
                <div class="col-sm-3">
                    <button type="button" id="btn_cancel" class="btn btn-default btn-block">取消</button>
                </div>
            </div>

        </form>
    </div>

    <script src="/static/js/user/user_info.js"></script>
</div>

<%
    }
%>