<%
    layout("/WEB-INF/views/common/navbar.html", {'title':'活动管理'}){
%>

<div class="row">
    <div class="col-sm-12">
        <div class="panel-body" id="panel_search" style="margin-top:20px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#panel_search"
                       href="#collapse" style="color:black">
                        <span class="glyphicon glyphicon-chevron-down"/>查询条件
                    </a>
                </div>
                <div id="collapse" class="panel-collapse collapse">
                <div class="panel-body" >
                    <form id="formSearch" class="form-horizontal col-sm-12" role="form">
                        <div class="form-group" style="margin-top:15px">
                            <div class="col-sm-2">
                                <label class="control-label" for="title">标题</label>
                                <input type="text" class="form-control" id="title">
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label" for="authorName">作者</label>
                                <input type="text" class="form-control" id="authorName">
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label" for="status">状态</label>
                                <select class="form-control" id="status">
                                    <option value="">全部</option>
                                    <option value="1">未开始</option>
                                    <option value="2">进行中</option>
                                    <option value="3">已结束</option>
                                </select>
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label" for="createStartTime">创建时间</label>
                                <div class="input-group">
                                    <span class="input-group-addon">从</span>
                                    <input id="createStartTime" class="form-control dateTime" type="text" name="dateTimePicker"/>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <label class="control-label" for="createEndTime">&nbsp;</label>
                                <div class="input-append date" >
                                    <div class="input-group">
                                        <span class="input-group-addon">到</span>
                                        <input id="createEndTime" class="form-control dateTime" type="text" name="dateTimePicker"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="margin-top:15px">
                            <div class="col-sm-2">
                                <label class="control-label" for="btn_search">&nbsp;</label>
                                <button type="button" id="btn_search" class="btn btn-primary btn-block">查询</button>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label" for="btn_reset">&nbsp;</label>
                                <button type="button" id="btn_reset" class="btn btn-primary btn-block">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
        <div class="btn-group" id="toolbar">
            <% if(shiro.hasPermission("activity:add")){ %>
            <button id="btn_add" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-plus"></span> 添加
            </button>
            <% } %>
            <% if(shiro.hasPermission("activity:edit")){ %>
            <button id="btn_edit" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-edit"></span> 修改
            </button>
            <% } %>
            <% if(shiro.hasPermission("activity:delete")){ %>
            <button id="btn_delete" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-remove"></span> 删除
            </button>
            <% } %>
        </div>
        <table id="activityTable"></table>
    </div>
</div>

<script src="/static/js/activity/activity.js"></script>

<%
    }
%>

