<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freight.ms.dao.ComplaintMapper">
  <resultMap id="BaseResultMap" type="com.freight.ms.model.Complaint">
    <!--
      @MBG Generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="process" jdbcType="VARCHAR" property="process" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      @MBG Generated
    -->
    id, order_id, type, reason, status, admin_id, process, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @MBG Generated
    -->
    select 
    <include refid="Base_Column_List" />
    from complaint
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      @MBG Generated
    -->
    delete from complaint
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.freight.ms.model.Complaint">
    <!--
      @MBG Generated
    -->
    insert into complaint (id, order_id, type, 
      reason, status, admin_id, 
      process, create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{reason,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{adminId,jdbcType=INTEGER}, 
      #{process,jdbcType=VARCHAR}, now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.freight.ms.model.Complaint">
    <!--
      @MBG Generated
    -->
    insert into complaint
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="process != null">
        process,
      </if>
      create_time,update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="process != null">
        #{process,jdbcType=VARCHAR},
      </if>
      now(),now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.freight.ms.model.Complaint">
    <!--
      @MBG Generated
    -->
    update complaint
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="process != null">
        process = #{process,jdbcType=VARCHAR},
      </if>
      update_time = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.freight.ms.model.Complaint">
    <!--
      @MBG Generated
    -->
    update complaint
    set order_id = #{orderId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      reason = #{reason,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=INTEGER},
      process = #{process,jdbcType=VARCHAR},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByParams" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from complaint
    <where>
      <if test="orderId != null and orderId != ''">
        and order_id = #{orderId,jdbcType=VARCHAR}
      </if>

      <if test="type != null and type != ''">
        and type = #{type,jdbcType=INTEGER}
      </if>

      <if test="status != null and status != ''">
        and status = #{status,jdbcType=INTEGER}
      </if>

      <if test="createStartTime != null and createStartTime != ''
            and (createEndTime == null or createEndTime == '')">
        and create_time &gt;= CONCAT(#{createStartTime},' 00:00:00')
      </if>

      <if test="(createStartTime == null or createStartTime == '')
            and createEndTime != null and createEndTime != ''">
        and create_time &lt;= CONCAT(#{createEndTime},' 23:59:59')
      </if>
    </where>
    order by id
    LIMIT #{offset},#{limit}
  </select>

  <select id="getCount" resultType="Integer">
    select count(*) from complaint;
  </select>
</mapper>