<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freight.ms.dao.CouponMapper">
  <resultMap id="BaseResultMap" type="com.freight.ms.model.Coupon">
    <!--
      @MBG Generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="active_time" jdbcType="INTEGER" property="activeTime" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="start_price" jdbcType="DOUBLE" property="startPrice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      @MBG Generated
    -->
    id, name, active_time, price, start_price, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @MBG Generated
    -->
    select 
    <include refid="Base_Column_List" />
    from coupon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      @MBG Generated
    -->
    delete from coupon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.freight.ms.model.Coupon">
    <!--
      @MBG Generated
    -->
    insert into coupon (id, name, active_time, 
      price, start_price, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{activeTime,jdbcType=INTEGER}, 
      #{price,jdbcType=DOUBLE}, #{startPrice,jdbcType=DOUBLE}, now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.freight.ms.model.Coupon">
    <!--
      @MBG Generated
    -->
    insert into coupon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="activeTime != null">
        active_time,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="startPrice != null">
        start_price,
      </if>
      create_time,
      update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="activeTime != null">
        #{activeTime,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="startPrice != null">
        #{startPrice,jdbcType=DOUBLE},
      </if>
      now(),
      now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.freight.ms.model.Coupon">
    <!--
      @MBG Generated
    -->
    update coupon
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="activeTime != null">
        active_time = #{activeTime,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="startPrice != null">
        start_price = #{startPrice,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      update_time = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.freight.ms.model.Coupon">
    <!--
      @MBG Generated
    -->
    update coupon
    set name = #{name,jdbcType=VARCHAR},
      active_time = #{activeTime,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      start_price = #{startPrice,jdbcType=DOUBLE},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByParams" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from coupon
    <where>
      <if test="name != null and name != ''">
        and name = #{name,jdbcType=VARCHAR}
      </if>

      <if test="createStartTime != null and createStartTime != ''">
        and create_time &gt;= CONCAT(#{createStartTime},' 00:00:00')
      </if>

      <if test="createEndTime != null and createEndTime != ''">
        and create_time &lt;= CONCAT(#{createEndTime},' 23:59:59')
      </if>
    </where>
    order by id
    LIMIT #{offset},#{limit}
  </select>

  <select id="getCount" resultType="Integer">
    select count(*) from coupon
    <where>
      <if test="name != null and name != ''">
        and name = #{name,jdbcType=VARCHAR}
      </if>

      <if test="createStartTime != null and createStartTime != ''">
        and create_time &gt;= CONCAT(#{createStartTime},' 00:00:00')
      </if>

      <if test="createEndTime != null and createEndTime != ''">
        and create_time &lt;= CONCAT(#{createEndTime},' 23:59:59')
      </if>
    </where>
  </select>
</mapper>